.navbar{
    height:75px;
    background:#ffffff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 35px;
    border-bottom:1px solid #e5e7eb;
    box-shadow:0 2px 10px rgba(0,0,0,.05);
}

.navbar-left h2{
    margin:0;
    color:#1e3a8a;
    font-size:28px;
}

.navbar-left p{
    margin-top:5px;
    color:#64748b;
    font-size:14px;
}

.navbar-right{
    display:flex;
    align-items:center;
    gap:25px;
}

.notification-btn{
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    background:#f1f5f9;
    cursor:pointer;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
    transition:.3s;
}

.notification-btn:hover{
    background:#e2e8f0;
}

.notification-dot{
    width:10px;
    height:10px;
    background:#ef4444;
    border-radius:50%;
    position:absolute;
    top:10px;
    right:10px;
}

.driver-profile{
    display:flex;
    align-items:center;
    gap:15px;
}

.driver-info{
    text-align:right;
}

.driver-info h4{
    margin:0;
    color:#0f172a;
}

.driver-info span{
    color:#64748b;
    font-size:14px;
}

.profile-icon{
    font-size:45px;
    color:#2563eb;
}
/* ================= NAVBAR LOGOUT ================= */

.navbar-logout-btn {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 10px 18px;

    border: none;
    border-radius: 12px;

    background: linear-gradient(135deg, #ef4444, #dc2626);
    color: #fff;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: all 0.3s ease;

    box-shadow: 0 6px 15px rgba(220, 38, 38, 0.25);
}

.navbar-logout-btn svg {
    font-size: 16px;
}

.navbar-logout-btn:hover {
    background: linear-gradient(135deg, #dc2626, #b91c1c);
    transform: translateY(-2px);
    box-shadow: 0 10px 22px rgba(220, 38, 38, 0.35);
}

.navbar-logout-btn:active {
    transform: scale(0.97);
}